{% extends 'base.html' %}
{% load static crispy_forms_tags %}

{% block head %}
    <title>Profile Form</title>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-8 border rounded shadow mx-auto my-4 p-4">
            <h2>User Profile Form</h2>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="row">
                    <div class="col mt-3">
                        <a href="{% url 'profile' user %}" class="btn btn-primary"><i
                                class="fa-solid fa-arrow-left"></i> Back</a>
                        <button type="submit" class="btn btn-success"><i class="fa-solid fa-floppy-disk"></i> Save
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}